<div>
    <h2>About RecipeBox</h2>
    RecipeBox is a simple to use digital kitchen aid for the storage and viewing of <i>your</i> recipes wherever and whenever <i>you</i> need them.
    <br/>
    <br/>
    I've employed many technologies, tools and design principles in the creation of RecipeBox. These are some of the most noteworthy.
    <br />
    <br />
    <ul class="row list-inline">
		<li class="col-sm-1 col-xs-2" data-toggle="tooltip" title="Visual Studio">
			<a href="http://msdn.microsoft.com/vstudio" target="_blank">
                <img class="img-responsive" ng-src="{{aboutController.coreService.getSiteImagePath('vs2013.png')}}" data-toggle="tooltip" title="Visual Studio"/>
            </a>
		</li>
		<li class="col-sm-1 col-xs-2">
			<a href="http://www.asp.net/" target="_blank">
			    <img class="img-responsive" ng-src="{{aboutController.coreService.getSiteImagePath('asp.net.gif')}}" data-toggle="tooltip" title="ASP.NET"/>
            </a>
		</li>
		<li class="col-sm-1 col-xs-2">
			<a href="https://angularjs.org/" target="_blank">
			    <img class="img-responsive" ng-src="{{aboutController.coreService.getSiteImagePath('angularjs.png')}}" data-toggle="tooltip" title="AngularJS"/>
            </a>
		</li>
		<li class="col-sm-1 col-xs-2">
			<a href="http://www.typescriptlang.org/" target="_blank">
			    <img class="img-responsive" ng-src="{{aboutController.coreService.getSiteImagePath('typescript.png')}}" data-toggle="tooltip" title="TypeScript"/>
            </a>
		</li>
		<li class="col-sm-1 col-xs-2">
			<a href="http://getbootstrap.com/" target="_blank">
			    <img class="img-responsive" ng-src="{{aboutController.coreService.getSiteImagePath('bootstrap.png')}}" data-toggle="tooltip" title="Bootstrap"/>
            </a>
		</li>
		<li class="col-sm-1 col-xs-2">
			<a href="http://azure.microsoft.com/" target="_blank">
			    <img class="img-responsive" ng-src="{{aboutController.coreService.getSiteImagePath('azure.png')}}" data-toggle="tooltip" title="Azure"/>
            </a>
		</li>
    </ul>
</div>